/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/* Ajout du style de la bannière "Mode édition" */
.edit-mode-banner {
	color: white;
	font-size: 16px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 25px 0;
}
/** **/

body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}
.main-container {
	max-width: 1140px;
	margin: auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

/* Ajout du style du lien actif */
nav li.current {
	font-weight: 600;
} 
/** **/

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Ajout du style du bouton "modifier" */
#portfolio .title-wrapper h2 {
	margin-bottom: 0;
}

.title-wrapper {
	margin-bottom: 30px;
	position: relative;
}

.edit-mode-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
	position: absolute;
	top: 25%;
	right: 32%;
}
/** **/

/* Ajout du style des filtres */
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}

.filter {
	cursor: pointer;
	color: #1D6154;
	font-family: 'syne';
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 60px;
	min-width: 100px;
	height: 50px;
}

.filter:hover, .filter.active {
	color: white;
	background-color: #1D6154;
}
/** **/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

input[type="submit"]:hover {
	background-color: #0E2F28;
}

/* Ajout du style du formulaire login */
#login {
	width: 50%;
	margin: auto;
	padding: 100px 0 200px 0;
}

#login > * {
	text-align: center;
}

#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a {
	color: #3D3D3D;
	display: block;
}
/** **/

/* Ajout du style du message d'erreur */
.login-error {
	color: #B1663C;
	margin: 0 auto 2em auto;
}
/** **/

footer {
	background-color: white;
}
footer nav {
	max-width: 1440px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em
}

/* Ajout du style de la modale */
#modal {
	background-color: rgba(0, 0, 0, 0.3);
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	display: none;
}

#modal.active {
	display: flex;
}

.modal-wrapper {
	background-color: white;
	border-radius: 10px;
	box-sizing: border-box;
	width: 630px;
	padding: 60px 90px 0;
	position: relative;
}

.modal-wrapper h3 {
	font-size: 26px;
	text-align: center;
	margin-bottom: 1.5em;
}

.modal-wrapper hr {
	border: none;
	border-top: 1px solid #B3B3B3;
	margin: 40px 0 0;
}

.modal-wrapper label:not(.upload-btn) {
	margin: 2em 0 1em 0;
}

.modal-wrapper input, .modal-wrapper select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modal-wrapper select {
	appearance: none;
	width: 100%;
}

.close-modal, .back-modal-gallery {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	position: absolute;
	top: 30px;
}

.close-modal {
	font-size: 14px;
	right: 30px;
}

.modal-gallery {
	display: flex;
	flex-direction: column;
}

.modal-gallery.hidden {
	display: none;
}

.modal-works {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px 10px;
}

.modal-works figure {
	position: relative;
}

.modal-works img {
	width: 100%;
}

.delete-work-btn {
	cursor: pointer;
	color: white;
	font-size: 10px;
	background-color: black;
	border: none;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	padding: 0;
	position: absolute;
	top: 5px;
	right: 5px;
}

.open-modal-form {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	text-align: center;
	border-radius: 60px;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 250px;
}

.open-modal-form:hover {
	background-color: #0E2F28;
}

.modal-form {
	display: none;
}

.modal-form.visible {
	display: block;
}

.back-modal-gallery {
	font-size: 18px;
	left: 30px;
}

.add-work-form {
	display: flex;
	flex-direction: column;
}

.upload-image {
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 170px;
	overflow: hidden;
}

.upload-image i {
	color: #B9C5CC;
	font-size: 76px;
}

.upload-btn {
	color: #306685;
	font-weight: 500;
	background-color: #CBD6DC;
	border-radius: 50px;
	margin: 0.5em 0;
	padding: 10px 30px;
}

input[type="file"] {
	display: none;
}

.image-info {
	color: #444444;
	font-size: 10px;
}

.image-preview {
	width: 30%;
}

.select-wrapper {
	position: relative;
}

.select-wrapper i {
	pointer-events: none;
	color: #6C6C6C;
	font-size: 11px;
	position: absolute;
	top: 20px;
	right: 25px;
}

#upload-work {
	background-color: #A7A7A7;
	width: 250px;
} 
/** **/